@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 89% 94%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 207 89% 98%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 207 89% 98%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 207 82% 67%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 207 80% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 207 80% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 36 100% 65%;
    --accent-foreground: 35.5 83.3% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 82% 87%;
    --input: 207 82% 87%;
    --ring: 207 82% 67%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 207 89% 98%;
    --sidebar-foreground: 222.2 47.4% 11.2%;
    --sidebar-primary: 207 82% 67%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 207 89% 92%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 207 82% 87%;
    --sidebar-ring: 207 82% 67%;
  }
  .dark {
    --background: 220 17% 9%;
    --foreground: 210 40% 98%;
    --card: 220 13% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 166 67% 50%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 30 95% 61%;
    --accent-foreground: 35.5 83.3% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 166 67% 50%;
    --chart-1: 166 67% 50%;
    --chart-2: 30 95% 61%;
    --chart-3: 0 91% 71%;
    --chart-4: 48 96% 53%;
    --chart-5: 260 85% 66%;
    --sidebar-background: 222.2 47.4% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 166 67% 50%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 166 67% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
